body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas {
    width: 640px;
    height: 448px;
    image-rendering: pixelated;
    font-smooth: never;
    -webkit-font-smoothing : none;
}