.editor {

  display: grid;
  grid-template-areas:
    "active tilelist"
  ;

  .tilelist {
    background-color: #333;
    list-style-type: none;
    margin: 0 0 0 1rem;
    padding: 1rem;
    height: 400px;
    width: 72px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-area: tilelist;
  }
}

.swatch {
  position: relative;

  .swatch-canvas {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
  
    &.active {
      border: 1px solid rgba(255,255,255,1);
    }
  }

  .swatch-button {
    position: absolute;
    right: 0.1rem;
    border: none;
    background: none;
    transform: scale(0.75, 0.75);

    &:nth-child(2) {
      top: 4px;
    }

    &:nth-child(3) {
      bottom: 4px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.25, 1.25);
    }
  }
}

.active-tile-controls {
  grid-area: active;
  display: grid;
  grid-template-areas:
    "preview preview properties"
    "preview preview heightmap"
    "preview preview textures"
  ;

  .preview {
    width: 384px;
    height: 384px;
    grid-area: preview;
    border: 4px solid black;
    margin-right: 1rem;
  }

  .properties {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem;
    grid-area: properties;
  }

  .height-container {
    grid-area: heightmap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .active-height-map {
    width: 128px;
    height: 128px;
  }

  .textures {
    height: 48px;
    max-width: 256px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #333;
    grid-area: textures;
    display: block;
  }
}